<h1>Saved Media</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Add to</th>
        <th></th>
    </tr>
<% media.forEach(function(medium) { %>
    <tr>
        <td>
            <a href="<%= medium.mediaUrl%>">
                <%= medium.mediaName %>
            </a>
        </td>

        <form method="POST" action="/categoriesMedias">
            <input hidden value="<%= medium.id %> " type="text" name="mediaId">
            <td>
                <select id="categoryId" name="categoryId">
                    <% categories.forEach(function(category) { %>
                        <option value="<%= category.id %>"><%= category.name %></option>
                    <%}) %>
                </select>
            </td>

            <td>
                <button type="submit">Submit</button> 
            </td>
        </form>
        <td>
            <form method="post" action="/media/<%=medium.id%>?_method=DELETE">
                <button type="submit">Delete</button>
            </form>
        </td>
        </tr>    
    <% }); %>
</table>